@include b(safe-area) {
  width: 100%;
  display: block;

  @include e(position-top) {
    padding-top: env(safe-area-inset-top);
    padding-top: constant(safe-area-inset-top);
  }

  @include e(position-bottom) {
    padding-bottom: env(safe-area-inset-bottom); /* 新标准 */
    padding-bottom: constant(safe-area-inset-bottom); /* 老 Safari */
  }
}

// height: calc(96rpx+ constant(safe-area-inset-bottom));//兼容 IOS<11.2
// height: calc(96rpx + env(safe-area-inset-bottom));//兼容 IOS>11.2
// padding-bottom: constant(safe-area-inset-bottom);//兼容 IOS<11.2
// padding-bottom: env(safe-area-inset-bottom);//兼容 IOS>11.2
