@import 'variables';
@import 'functions';

// @include b('title', 'large') {
//   font-size: 16px;
//   color: blue;
// }
// 如果假设：
// $prefixCls = 'card'，
// $blockSeparator = '__'，
// 则 get-selector('.' + $prefixCls, $blockSeparator, $blocks...) 会生成 .card__title__large，而最终生成的 CSS 会是：
// .card-title,.card-large {
//   font-size: 16px;
//   color: blue;
// }

@mixin b($blocks...) {
  $selector: get-selector('.' + $prefixCls, $blockSeparator, $blocks...);
  #{$selector} {
    @content;
  }
}

// .card__title--large {
//   @include e('title', 'image') {
//     color: red;
//   }
// }

@mixin e($elements...) {
  $selector: '';
  $prefix: get-block(&); // & =.za-button  & .za-button--primary

  // selector-nest("ul", "li") // ul li
  // selector-nest(".warning", "alert", "div") // .warning div, alert div
  // selector-append("div", ".myInput") // div.myInput
  // selector-append(".warning", "__a") 结果: .warning__a
  @if contains-modifier(&) {
    @each $element in $elements {
      $newElement: selector-nest(&, selector-append($prefix, $elementSeparator + $element));

      @if contains-element(&) {
        $newElement: '&' + $elementSeparator + $element;
      }

      $selector: $selector + $newElement + ',';
    }
  } @else {
    @if contains-element(&) {
      @each $element in $elements {
        $newElement: selector-nest(&, selector-append($prefix, $elementSeparator + $element)) + ',';
        $selector: $selector + $newElement + ',';
      }
    } @else {
      $selector: get-selector('&', $elementSeparator, $elements...);
    }
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}

@mixin m($modifiers...) {
  $selector: '';
  $prefix: get-block(&);

  @if contains-modifier(&) {
    @each $modifier in $modifiers {
      $selector: $selector + '&' + $prefix + $modifierSeparator + $modifier + ',';
    }
  } @else {
    $selector: get-selector('&', $modifierSeparator, $modifiers...);
  }

  @at-root {
    #{$selector} {
      @content;
    }
  }
}
